<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818168258004-p1mtl7ttokcpjin64j4v1ctsq7l92tfn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818168258004-p1mtl7ttokcpjin64j4v1ctsq7l92tfn</string>
	<key>API_KEY</key>
	<string>AIzaSyD0IQ_qJ1aE9lv8_6F_ZiZxsiNbAuILfXc</string>
	<key>GCM_SENDER_ID</key>
	<string>818168258004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dsc-.TFood</string>
	<key>PROJECT_ID</key>
	<string>tfood-ababe</string>
	<key>STORAGE_BUCKET</key>
	<string>tfood-ababe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818168258004:ios:584e5754a1e1109f000a41</string>
</dict>
</plist>